* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.containerBody {
    border: solid 2px black;
    border-radius: 10px;
    width: 100%;
    padding: 20px;

}

.header {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    width: 100%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
}

.imgLogo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.main {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: solid black 2px;
    border-radius: 10px;
}

.textoLanding {
    display: flex;
    text-align: center;
    text-emphasis: inherit;

}

.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer1 {
    display: flex;
    width: 100%;
    text-align: center;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 10px;
}

.footerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.iconoWhats{
    border-radius: 50%;
}